<div class="container programs">

  <div class="row">
    <div class="col-3 py-5">
      <h1>Filteration</h1>
    </div>
    <div class="col-9">
      <div class="p-5">
        <h1>Filteration</h1>
      </div>
      <app-card *ngIf="programs.length > 1" [programsArray]="programs"></app-card>
      <div class="d-flex justify-content-center align-items-center" *ngIf="loader">
        <div class="card is-loading" *ngFor="let item of [0,1,2,]">
          <div class="image"></div>
          <div class="content">
            <h2></h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
