<div class="container programs">

  <div class="row">
    <div class="col-2 py-5">
      <div class="form-check">
        <input (change)="filterLang('None')" class="form-check-input" type="radio" name="currentLang" id="None"
          value="None" checked>
        <label class="form-check-label" for="None">
          All
        </label>
      </div>
      <div class="form-check" *ngFor="let lang of langs">
        <input (change)="filterLang(lang.key)" class="form-check-input" type="radio" name="currentLang" [id]="lang.key"
          [value]="lang.key">
        <label class="form-check-label" [for]="lang.key">
          {{lang.key}}
        </label>
      </div>
    </div>
    <div class="col-10">
      <div class="p-5">
        <h1>Filteration</h1>
      </div>
      <app-card *ngIf="!loader" [programsArray]="programs"></app-card>
      <div class="d-flex justify-content-center align-items-center" *ngIf="loader">
        <div class="card is-loading" *ngFor="let item of [0,1,2,]">
          <div class="image"></div>
          <div class="content">
            <h2></h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
